/* static,relative,absolute,fixed,sticky */

/* .box{
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    right: 5px;
    bottom: 5px;
} */

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: sticky;
    top: 0px;
    z-index: -1;
}

.main{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

.para{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60vw;
}

.login{
    border: 2px solid blue;
    width: 20%;
    padding: 5px;
    margin-top: 10px;
}